@import "build/bundle.css";
@import "global.css";

.keypad{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
}
.keypad .num-button{
  width: 100%;
  margin: 0.1rem !important;
  border-radius: 0;
}
.keypad .lock-button{
  margin: 0.1rem !important;
}
.keypad .row{
  justify-content: space-around;
}
.keypad .backspace-button{
  width: auto !important;
  margin: auto !important;
  margin-bottom: 1rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
#KeyPadDisplay{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#KeyPadDisplayUnlock{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#KeyPadDisplayUnlock::placeholder {
  color: #f14646;
  opacity: 1;
}
.keypad-article{
  overflow: hidden;
}
.unlock-keypad-title{
  display: flex;
  transition: 0.2s;
}
.unlock-keypad-title span{
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
}

.close-unlock{
  top: -100px;
}
.close-lock{
  top: -60px;
}
.close-btn{
  position: absolute;
  width: fit-content;
  background-color:rgba(1, 1, 1, 0);
  border: none;
  box-shadow: inset -3px -3px 15px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 1.8rem;
  left: -30px;
}
.close-btn:hover{
  background-color:#e75e5e;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.close-btn:focus{
  box-shadow: none;
}

