.keypad{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
}
.keypad .num-button{
  width: 100%;
  margin: 0.1rem !important;
  /*margin-bottom: 0.1rem !important;*/
  border-radius: 0;
}
.keypad .lock-button{
  margin: 0.1rem !important;
}
.keypad .row{
  justify-content: space-around;
}
.keypad .backspace-button{
  width: auto !important;
  margin: auto !important;
  margin-bottom: 1rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
#KeyPadDisplay{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#KeyPadDisplayUnlock{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#KeyPadDisplayUnlock::placeholder {
  color: #f14646;
  opacity: 1;
}
.keypad-article{
  overflow: hidden;
}
.unlock-keypad-title{
  display: flex;
  transition: 0.2s;
}
.unlock-keypad-title span{
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
}